Repository ava-labs/subnet-evm, pull requests merged in 2023-08, with the labels that each got.

#791 force register js tracer
  plugin/evm/vm.go
Labels: bug

#792 Precompile bind cleanups
  accounts/abi/bind/bind.go
  accounts/abi/bind/precompilebind/precompile_bind.go
  accounts/abi/bind/precompilebind/precompile_bind_test.go
  accounts/abi/bind/precompilebind/precompile_contract_template.go
  accounts/abi/bind/precompilebind/precompile_contract_test_template.go
  cmd/precompilegen/main.go
Labels: testing, cleanup

#804 warp e2e: proposerVM activation txs in BeforeSuite
  tests/utils/proposervm.go
  tests/warp/warp_test.go
Labels: testing, cleanup, warp

#813 Align on a single predicate type
  core/predicate_check.go
  core/predicate_check_test.go
  core/state_transition.go
  miner/miner.go
  miner/worker.go
  params/config.go
  plugin/evm/block.go
  plugin/evm/vm.go
  precompile/precompileconfig/config.go
  precompile/testutils/test_predicate.go
  x/warp/config.go
  x/warp/predicate_test.go
Labels: warp
