Repository ava-labs/subnet-evm, pull requests merged in 2023-01, with the labels that each got.

#420 Precompile Specific Packages
  accounts/abi/bind/bind.go
  accounts/abi/bind/precompile_bind.go
  accounts/abi/bind/precompile_bind_test.go
  accounts/abi/bind/precompile_config_template.go
  accounts/abi/bind/precompile_contract_template.go
  cmd/precompilegen/main.go
  core/blockchain_reader.go
  core/genesis_test.go
  core/state_processor_test.go
  core/state_transition.go
  core/stateful_precompile_test.go
  core/test_blockchain.go
  core/tx_pool.go
  core/vm/evm.go
  eth/gasprice/gasprice_test.go
  params/precompile_config.go
  params/precompile_config_test.go
  params/upgrade_config_test.go
  plugin/evm/vm_test.go
  plugin/evm/vm_upgrade_bytes_test.go
  precompile/allowlist/allow_list.go
  precompile/allowlist/allow_list_role.go
  precompile/config_test.go
  precompile/contract.go
  precompile/contract_native_minter.go
  precompile/deployerallowlist/config.go
  precompile/deployerallowlist/config_test.go
  precompile/deployerallowlist/contract.go
  precompile/feemanager/config.go
  precompile/feemanager/config_test.go
  precompile/feemanager/contract.go
  precompile/interface.go
  precompile/mock_interface.go
  precompile/nativeminter/config.go
  precompile/nativeminter/config_test.go
  precompile/nativeminter/contract.go
  precompile/params.go
  precompile/rewardmanager/config.go
  precompile/rewardmanager/config_test.go
  precompile/rewardmanager/contract.abi
  precompile/rewardmanager/contract.go
  precompile/stateful_precompile_config.go
  precompile/txallowlist/config.go
  precompile/txallowlist/config_test.go
  precompile/txallowlist/contract.go
  precompile/utils.go
  tests/e2e/utils/evm_client.go
Labels: precompile, cleanup

#429 Bump to v0.4.8 and bump AvalancheGo dependency to v1.9.6
  cmd/simulator/go.mod
  cmd/simulator/go.sum
  compatibility.json
  go.mod
  go.sum
  plugin/evm/version.go
  scripts/versions.sh
Labels: dependencies

#463 Improve version output
  plugin/main.go
Labels: enhancement

#461 nil timestamp in genesis should be upgradeable
  params/precompile_config.go
  params/precompile_config_test.go
Labels: bug, precompile
